body {
  margin: 0;
  font-family: "Arial", sans-serif;
}

.content {
  margin: "0px";
  padding: "0px";
  background-image: url("/backgroundimage.jpg");
  background-size: "cover";
  background-position: "center";
  border-radius: "0px";
}

.ant-menu-item {
  font-size: 16px;
}
