body {
  margin: 0;
  font-family: "Arial", sans-serif;
}

.content {
  margin: 0;
  padding: 0;
  background-image: url("/backgroundimage.jpg");
  background-size: cover; 
  background-position: center; 
  border-radius: 0; 
  background-repeat: no-repeat; 
}

.ant-menu-item {
  font-size: 16px;
}
