.custom-event {
  color: white;
  padding-inline: 5px;
  border-radius: 4px;
}

.custom-event.canceled {
  background-color: #f40511;
}

.custom-event.used {
  background-color: #4caf50;
}

.custom-event.not-used {
  background-color: #ff660d;
}

.custom-event.reserved {
  background-color: #16c9d3;
}

.rbc-event {
  background-color: transparent !important;
}

.rbc-event-label {
  color: black !important;
}
